<a href="https://colab.research.google.com/github/paulinaporcelli/paulina/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

operators = "+ - * / // % **"

while "y" == input("Do you want to continue? (y/n): "):
  # takes inputs from user
  choice = input('enter choice(operator):')

In [ ]:
user_choice = input ('Enter date: (MM/DD/YYYY)')

month = user_choice [:2]
day = user_choice [3:5]
year = user_choice[6:]

len(user_choice)

print(month, day, year)

In [ ]:
L = []

number = int(input('Enter a value: '))

while number !=0:
  L.append (number)

if number == 0:
  print("terminate process")
  number = int(input('Enter a value: '))
print(L)

In [ ]:
months = {}
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
names_list = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for num in range(len(names_list)):
  months[num + 1] = names_list[num]
print(months)

In [ ]:
s = 'This is another test'

this_s = s[:4]
print(this_s)
test_s = s[-4:len(s)]
print(test_s)
print(s[:])

In [ ]:
L[3] = 'b'
L

[1, 'two', 3.14, 'b', [5, 7, 9]]

In [ ]:
L_outer = [[1, 2, 3], [4, 5, 6]]
print(1)
L_outer[1] = 1
print(L_outer)

[[1,2, 3], [4, 5, 6]]
[4, 5, 6]
[7, 5, 6]
[[1, 2, 3], [7, 5, 6]]

In [ ]:
L = [1, 'two', 3.0, print, [5,7, 9]]

len(L)

In [ ]:
L = ['one', 'two', 'three']
L += ['three']
print(L)

In [ ]:
L = [5, 7, 3, 0, 1,9]
L.sort(reverse=True)
L

In [ ]:
l1 = [1,2,3,4]
l2 = [1,2,5,6]

for item in l1[:]:
  if item in l2:
    l1.remove(item)
l1

In [ ]:
t = (1, 'two', 3.0)
len(t)

In [ ]:
grades = {
    'Alice': 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
}

for key in grades.keys():
  print(key)

In [ ]:
grades['Tracy'] = 96
grades

In [ ]:
del grades['Erik']
grades

In [ ]:
for value in grades.values():
  print(value)

In [ ]:
for key, value in grades.items():
  print(f'Key: {key}, Value: {value}')

In [ ]:
import random

user_choice = input("Enter your choice (rock, paper, or scissors): ")
computer_choice = random.choice(["rock", "paper", "scissors"])

print(f"You chose: {user_choice}")
print(f"Computer chose: {computer_choice}")

if user_choice == computer_choice:
    print("It's a tie!")
elif (
    (user_choice == "rock" and computer_choice == "scissors") or
    (user_choice == "paper" and computer_choice == "rock") or
    (user_choice == "scissors" and computer_choice == "paper")
):
    print("You win!")
else:
    print("Computer wins!")

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year!")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2013
2013 is not a leap year.

In [ ]:
init_attendees = 20
fixed_cost = 200

for advertising in range (0,201,25):
  attendees = float(2*round(advertising**0.5) + init_attendees)
  profit = float((attendees*10) - advertising - fixed_cost)
  print(f'{advertising} ${profit}')

0 $0.0
25 $75.0
50 $90.0
75 $105.0
100 $100.0
125 $95.0
150 $90.0
175 $85.0
200 $80.0